extends layout
  
block content
  h2= title
  hr
  ul
    li
      a(href='/admin/add') Add New Hotel
    li
      a(href='/admin/edit-remove') Edit / Remove Hotel
    li
      a(href='/admin/order') View Bookings
  
  
