extends layout
  
block content
  h2= title
  hr
  ul.list-group
    li.list-group-item
      a.list-group-item-action(href='/admin/add') Add New Hotel
    li.list-group-item
      a.list-group-item-action(href='/admin/edit-remove') Edit / Remove Hotel
    li.list-group-item
      a.list-group-item-action(href='/admin/orders') View Bookings
  
  
