extends layout

block content
  
  h3= title
  form.form-inline(action='' method='POST')
    .form-group
      label.mx-2(for='hotel_id') Hotel ID:
      input.form-control(type='text' name='hotel_id' id='hotel_id')
    .form-group
      label.mx-2(for='name') Hotel Name:
      input.form-control(type='text' name='hotel_name' id='hotel_name')
    .form-group
      button.form-control.mx-2(type='submit' class='button_small') CONFIRM
