extends layout
include mixins/_hotel

block content
  each hotel in hotelData
    .hotel
      if url.startsWith('/admin')
        a.btn.btn-warning.mr-2.mb-2(href=`${hotel._id}/update`) Update Hotel
        a.btn.btn-danger.mr-2.mb-2(href=`${hotel._id}/delete`) Delete Hotel
      +hotel(hotel)
