extends layout
include mixins/_hotel
include mixins/_country_list

block content

  h2.d-inline Hotels
  a(href='/all') (see all)
  ul.list-group
    each hotel in filteredHotels
      +hotel(hotel)
  h2 Countries
  a(href='/countries') (see all)
  ul.row
    each country in filteredCountries
      +countryList(country._id)      
