extends layout
include mixins/_hotel

block content

  .outer_wrapper
    .hotel_wrapper
      h2.d-inline  Hotels
      a(href='/all') (see all)

      ul.list-group
        each hotel in hotels
          +hotel(hotel)
    div
      h2 Countries
      a(href='/countries') (see all)
      ul
        each country in countries
          li.card.mb-2.d-inline-block
            a(href=`/countries/${country._id}`) #{country._id}
            img.img-fluid.w-100(src=`/images/countries/${country._id}.jpg`)
      
