doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body(class='container')
    block header
      header
        nav(class='navbar navbar-expand-sm navbar-light bg-light')
          a(href="/" class='navbar-brand')
            img(src='/images/logo.png' class='logo')
          div(class='collapse navbar-collapse' id='navbar-list')
            ul(class='navbar-nav ml-auto')
              li(class='nav-item')
                a(href='/sign-up' class='nav-link') Sign Up
              li(class='nav-item') 
                a(href='/login' class='nav-link') Login
        .search_nav
          form(class='row') 
            .input_wrapper
              label(for='destination') Destination
              input(type='text' id='destination', name='destination' required)
            .input_wrapper
              label(for='duration') Duration
              input(type='text' id='duration', name='duration' required)
            .input_wrapper
              label(for='departure-date') Departure Date
              input(type='date' id='departure-date', name='durationDate' required)
            .input_wrapper
              label(for='number-guests') # of Guests
              input(type='number' id='number-guests', name='numberGuests' required)
            .input_wrapper
              select(name='stars')
                option(value='*') Min *
                option(value='**') Min **
                option(value='***') Min ***
                option(value='****') Min ****
                option(value='*****') Min *****
            .input_wrapper
              select(name='sort')
                option(value='1') Price: Low - High
                options(value='1') Price High - Low
                
            .input_wrapper
              button(type='submit') Search
      .row
        img(src='/images/beach.jpg' class='img-fluid')
           
    block content
    
