doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body
    block header
      header
        .container-fluid.w-75
          nav.navbar.navbar-expand-sm.navbar-light.bg-light
            a.navbar-brand(href="/")
              img.logo(src='/images/logo.png')
            #navbar-list.collapse.navbar-collapse
              ul.navbar-nav.ml-auto
                if !user
                  li.nav-item
                    a.nav-link(href='/register') Sign Up
                  li.nav-item
                    a.nav-link(href='/login') Login
                else
                  li.nav-item
                    a.nav-link(href='/user-account') My Account
                  li.nav-item
                    a.nav-link(href='/logout') Logout (#{ user.fname })
        .container.mb-2
          form.row.bg-dark.text-white.pt-1(action='/results' method='POST')
            .col-md-6
              .form-group
                label(for='destination') Destination
                input.form-control.form-control-sm(type='text' id='destination', name='destination' required)
              .form-group
                label(for='duration') Duration
                input.form-control.form-control-sm(type='text' id='duration', name='duration' required)
              .form-group
                label(for='departure-date') Departure Date
                input.form-control.form-control-sm(type='date' id='departure-date', name='dateOfDeparture' required)
            .col-md-6
              .form-group
                label(for='number-guests') # of Guests
                input.form-control.form-control-sm(type='number' id='number-guests', name='numberGuests' required)
              .form-group
                select.form-control.form-control-sm(name='stars')
                  option(value='1') Min *
                  option(value='2') Min **
                  option(value='3') Min ***
                  option(value='4') Min ****
                  option(value='5') Min *****
              .form-group
                select.form-control.form-control-sm(name='sort')
                  option(value='1') Price: Low - High
                  option(value='-1') Price High - Low
              .form-group
                button.form-control.btn.btn-success(type='submit') Search
        .container.my-3
          - const values = Object.values(flash)
          - const keys = Object.keys(flash)
          if keys.length > 0
            div(class='message `message_${ keys }`')
              span= values
              span.close_btn(onclick="this.parentNode.remove()") &times
        .mb-3
          img.img-fluid.w-75.mx-auto.d-block(src='/images/beach.jpg')
        
        
        
        
        
    block content
    
