extends layout
include mixins/_user_form
block content
  .container
    h2= title
    hr
    if errors
      ul
        for error in errors
          li.bg-danger.border= error.msg
    +userForm(errors)
