mixin hotel

  .hotel
    .hotel_img
      a(href='')
        img(src='/images/hotels/hotel1.jpg' class='img-fluid')
    .hotel_info
      a(href='')
        h3  Hotel 1
      hr 
      p Star Rating: 5
      p Country: Fiji
      p Cost per night: $600
